*.exe
*.pdb
*.S
*.conf.json

build/win/*
!build/win/dxcompiler.dll
!build/win/dxil.dll
!build/win/lcms2.dll
!build/win/SDL3.dll
!build/win/SDL3_image.dll
!build/win/SDL3_shadercross.dll
!build/win/SD3_ttf.dll
!build/win/spirv-cross-c-shared.dll
